/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 10, 2019, 8:21:48 AM
    Author     : Ahmed Farouk
*/

/*======================
	Colors
======================*/

$primary: #364fff;
$secondary: #F2248F;
$success: #36D9B0;
$danger: #F22435;
$warning: #FFCF0D;
$info: #3D8EF2;

$black:#000000;
$dark:#152935;
$slategray:#708090;
$gray:#dae4f1;
$light:#f4f7fb;
$white:#FFFFFF;

/*======================
	Transitions
======================*/

$fast: .4s ease-in-out;
$v-fast: .2s ease-in-out;